{% extends 'base.html' %}
{% block content %}
{% if validlink %}
    <h4>Nueva contraseña</h4>
	<p>
		 CARAMBA Scratch es un proyecto en crecimiento, si tienes alguna duda, pregunta o consejo escribemenos y ayudanos a mejorar, para asi lograr incentivar mas el aprendizaje computacional y que en un futuro muchas personas se convierntan en programadores
	</p>
	<div class="blankdivider30">
	</div>
	<div class="row">
		<div class="span12">
                <div class="cform" id="contact-form">
                    <form action="" method="post" role="form">
                        {% csrf_token %}
                        <div class="row">
                            <div class="span6">
                                <div class="field your-name form-group">
                                    {{ form.new_password1.errors }}
                                    <input type="text" name="new_password1" class="form-control" id="id_new_password1" placeholder="Nueva contraseña" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                                    <div class="validation"></div>
                                </div>
                                <div class="field your-name form-group">
                                    {{ form.new_password2.errors }}
                                    <input type="text" name="new_password2" class="form-control" id="id_new_password2" placeholder="Confirmar contraseña" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                                    <div class="validation"></div>
                                </div>

                            </div>
                            <div class="span6">

                                <input type="submit" value="Cambiar Contraseña" class="btn btn-theme pull-left">
                            </div>
                        </div>
                    </form>
                </div>
            {% else %}

                <h4 class="text-center">ENLACE INVÁLIDO: ESTE ENLACE YA HA SIDO UTILIZADO</h4>

            {% endif %}

		</div>
		<!-- ./span12 -->
	</div>




{% endblock %}