{% extends 'base.html' %}

{% block content %}
<h4>Recuperar contraseña</h4>
	<p>
		 CARAMBA Scratch es un proyecto en crecimiento, si tienes alguna duda, pregunta o consejo escribemenos y ayudanos a mejorar, para asi lograr incentivar mas el aprendizaje computacional y que en un futuro muchas personas se convierntan en programadores
	</p>
	<div class="blankdivider30">
	</div>
	<div class="row">
		<div class="span12">
			<div class="cform" id="contact-form">
				<div id="sendmessage">Tu mensaje ha sido enviado. Gracias!</div>
                <div id="errormessage"></div>
				<form action="" method="post" role="form">
					{% csrf_token %}
					<div class="row">
						<div class="span6">
							<div class="field your-name form-group">
								<input type="text" name="email" class="form-control" id="id_email" placeholder="Tu Correo" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                                <div class="validation"></div>
							</div>

						</div>
						<div class="span6">

							<input type="submit" value="Enviar" class="btn btn-theme pull-left">
						</div>
					</div>
				</form>
			</div>
		</div>
		<!-- ./span12 -->
	</div>
{% endblock %}