#wrapper { float:left; }
#subir { margin-right:15%;
float:right; }
.form-group{
height:150px;}
#wrapper form p {text-align:center; font-size:20px;}


#wrapper input[type = "radio"]{ display:none;/*position: absolute;top: -1000em;*/}
#wrapper label{ color:grey;}

.clasificacion{
 direction: rtl;
}
.clasificacion1{
    direction: rtl;
}
.crono_wrapper {text-align:center;width:270px;}
#wrapper label:hover,
#wrapper label:hover ~ label{color:orange;}
#wrapper input[type = "radio"]:checked ~ label{color:orange;}

#timer{margin: 0 auto;}
#timer .container{
display:table;
background:#777;
color:#eee;
font-weight:bold;
width:100%;
text-align:center;
text-shadow:1px 1px 4px #999;
}
#timer .container div{
display:table-cell;
font-size:25px;
padding:5px;
}
#timer .container .divider{
width:10px;
color:#ddd;}
#btn-comenzar{
box-sizing:border-box;
background:#eee;
border:none;
margin:0 auto;
padding:10px;
width:100%;
font-size:20px;
color:#777;
cursor:pointer;}
#btn-comenzar:hover{background:#fff;}
        form {
            width: 100%;
            padding: 1em;
            border: 1px solid #ccc;
            border-radius: .5em;
            margin: 1em;
            box-shadow: .25em .25em 0 #ccc;
        }

        /* Estilo del 치rea del input[file] */
        /*.drag-drop {*/
            /*height: 8em;*/
            /*width: 8em;*/
            /*background-color: #ccc;*/
            /*border-radius: 4em;*/
            /*text-align: center;*/
            /*color: white;*/
            /*position: relative;*/
            /*margin: 0 auto 1em;*/
        /*}*/

        /*.drag-drop span.desc {*/
            /*display: block;*/
            /*font-size: .7em;*/
            /*padding: 0 .5em;*/
            /*color: #000;*/
        /*}*/

        /*input[type="file"] {*/
                /*height: 10em;*/
                /*opacity: 0;*/
                /*position: absolute;*/
                /*top: 0;*/
                /*left: 0;*/
                /*width: 100%;*/
                /*z-index: 3;*/
        /*}*/

        /* Estilo del 치rea del input[file] con :hover */

        .drag-drop:hover, input[type="file"]:hover {
            background-color: #3276b1;
            cursor: pointer;
        }

        .drag-drop:hover span.desc {
            color: #fff;
        }

        .drag-drop:hover .pulsating {
            animation: pulse1 1s linear infinite;
            animation-direction: alternate ;
            -webkit-animation: pulse1 1s linear infinite;
            -webkit-animation-direction: alternate ;
        }

        /* Composici칩n del icono de Upload con FontAwesome */
        .fa-stack { margin-top: .5em; }

        .fa-stack .top { color: white; }

        .fa-stack .medium {
            color: black;
            text-shadow: 0 0 .25em #666;
        }

        .fa-stack .bottom { color: rgba(225, 225, 225, .75); }

        /* Keyframing de la animaci칩n */

        @keyframes pulse1 {
         0% { color: rgba(225, 225, 225, .75); }
         50% { color: rgba(225, 225, 225, 0.25); }
         100% { color: rgba(225, 225, 225, .75); }
        }

        @-moz-keyframes pulse1 {
         0% { color: rgba(225, 225, 225, .75); }
         50% { color: rgba(225, 225, 225, 0.25); }
         100% { color: rgba(225, 225, 225, .75); }
        }

        @-webkit-keyframes pulse1 {
         0% { color: rgba(225, 225, 225, .75); }
         50% { color: rgba(225, 225, 225, 0.25); }
         100% { color: rgba(225, 225, 225, .75); }
        }

        @-ms-keyframes pulse1 {
         0% { color: rgba(225, 225, 225, .75); }
         50% { color: rgba(225, 225, 225, 0.25); }
         100% { color: rgba(225, 225, 225, .75); }
        }